@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --background-color: #f2f2f2;
    --navbar-color: #000000;
    --sub-navbar-color: #232f3e;
}

* {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}


.logo {
    width: 100%;
    background-color: var(--navbar-color);
}
.logo img {
    width: 80px;
    padding: 8px;
    cursor: pointer;
}

/* ES: 10, CHANGE amazon link */
.amazon-link {
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

/* ES: 11, aggiungi/togli immagine CSS */
.hidden-img {
    display: none;
}

/* ES: 12, colore del prezzo di ogni prodotto */
.price {
    /* color: red; */
    font-weight: bold;
    transition: color 0.4s ease;
}


/* FOOTER SECTION */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
footer p {
    font-weight: bold;
}